In [92]:
import pandas as pd
from ucimlrepo import fetch_ucirepo 
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import ticker
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
#fetch dataset
automobile = fetch_ucirepo(id=10)

In [93]:
df = automobile.data.features
df.shape

(205, 25)

In [94]:

df = df.replace('Missing', np.nan)
df.isna().sum()

price                 4
highway-mpg           0
city-mpg              0
peak-rpm              2
horsepower            2
compression-ratio     0
stroke                4
bore                  4
fuel-system           0
engine-size           0
num-of-cylinders      0
engine-type           0
curb-weight           0
height                0
width                 0
length                0
wheel-base            0
engine-location       0
drive-wheels          0
body-style            0
num-of-doors          2
aspiration            0
fuel-type             0
make                  0
normalized-losses    41
dtype: int64

In [95]:
new_df = df.drop(columns=["num-of-doors", "stroke","bore"])

In [96]:
new_df.shape

(205, 22)

In [97]:
new_df= new_df.dropna()

In [98]:
new_df.isna().sum()

price                0
highway-mpg          0
city-mpg             0
peak-rpm             0
horsepower           0
compression-ratio    0
fuel-system          0
engine-size          0
num-of-cylinders     0
engine-type          0
curb-weight          0
height               0
width                0
length               0
wheel-base           0
engine-location      0
drive-wheels         0
body-style           0
aspiration           0
fuel-type            0
make                 0
normalized-losses    0
dtype: int64

In [99]:
dropped_df=new_df.drop(columns=['fuel-system', 'engine-type','engine-location','drive-wheels', 'body-style','fuel-type','aspiration'])

In [100]:
auto_dummy= pd.get_dummies(dropped_df,drop_first= True)

In [101]:
auto_dummy.shape

(164, 31)

In [102]:
auto_dummy.head()

,price,highway-mpg,city-mpg,peak-rpm,horsepower,compression-ratio,engine-size,num-of-cylinders,curb-weight,height,...,make_mitsubishi,make_nissan,make_peugot,make_plymouth,make_porsche,make_saab,make_subaru,make_toyota,make_volkswagen,make_volvo
3,13950.0,30,24,5500.0,102.0,10.0,109,4,2337,54.3,...,False,False,False,False,False,False,False,False,False,False
4,17450.0,22,18,5500.0,115.0,8.0,136,5,2824,54.3,...,False,False,False,False,False,False,False,False,False,False
6,17710.0,25,19,5500.0,110.0,8.5,136,5,2844,55.7,...,False,False,False,False,False,False,False,False,False,False
8,23875.0,20,17,5500.0,140.0,8.3,131,5,3086,55.9,...,False,False,False,False,False,False,False,False,False,False
10,16430.0,29,23,5800.0,101.0,8.8,108,4,2395,54.3,...,False,False,False,False,False,False,False,False,False,False

In [103]:

from pathlib import Path  
filepath = Path('C:/Users/damio/Desktop/tkh/projects/automobile/data/processed/automobile.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
auto_dummy.to_csv(filepath,index= False)